.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 20% 10fr;
}

.header {
    grid-area: header;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.nav {
    grid-area: nav;
    border: 1px solid;
}

.content {
    grid-area: content;
    border: 1px solid;
}

